html {
  background: url("https://i.pinimg.com/originals/2f/26/72/2f26726dc627661f4376f9baee26cd83.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prof-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  height: 45%;
  margin-left: 5%;
  background-color: rgba(243,243,179,0.7);
  padding: 40px;
}

.title {
  text-align: center;
  letter-spacing: 0.6em;
  font-size: 70px;
  font-family: 'Monoton', cursive;
  color: lightcoral;
}

.welcome {
  text-align: center;
  font-size: 30px;
  font-family: 'Monoton', cursive;
  color: lightcoral;
}

.link {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Monoton', cursive;
  color: lightcoral;
;
}

.navdiv {
  text-align: center;
}

.logindiv {
  text-align: right;
  padding-right: 300px;
font-size: 40px;
}

.loginstuff {
  font-family: 'Monoton', cursive;
  color: lightcoral;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
}

.cartcard {
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
border-radius: 5px;
width: 300px;
overflow: hidden;
}

.morebutton {
  display: inline-block;
  border-radius: 4px;
  background-color:#C12957;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.morebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.morebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.morebutton:hover span {
  padding-right: 25px;
}

.morebutton:hover span:after {
  opacity: 1;
  right: 0;
}

.addtocart {
background-color: #C12957; 
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;

}

.addtocart:hover {
  background-color: pink;
  color: white;
}


img {
  border-radius: 5px 5px 0 0;
  max-height: 400px; 
  overflow: hidden;
  object-fit: contain;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 20px 16px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
